body{
  font-family: 'Inter', sans-serif;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 18px;
}

p {
  font-size: 14px;
}

.map-container{
  width: calc(100% - 288px);
  height: 100vh;
  float: left;
}

a {
  text-decoration: none;
  color: #dfe2e5;
  font-weight: 800;
}

.navbar  {
  position: absolute;
  top: 24px;
  left: 48px;
  right: 48px;
  height: 48px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.transparent-button  {
  height: 40px;
  width: 150px;
  color: white;
  border: none;
  padding: 0;
  cursor: pointer;
  border-radius: 5px;
}

.navbar-links  {
  margin: 50px;
  list-style-type: none;
  display: flex;
  align-items: center;
  font-size: large;
  transition: background-color 0.7s ease;
}

.navbar-links button  {
  font-size: 15px;
  color: white;
  text-decoration: none;
  transition: color 0.7s ease;
}

.navbar-links button:hover  {
  color: rgb(16, 16, 74);
}

.navbar-links-wrapper  {
  margin:40px;
  padding:10px;
}

.navbar-links:hover  {
  background-color: rgb(215, 215, 220);

}
.navbar img  {
  max-height: 72px;
  max-width: 150px;
}

.navbar-logo  {
  margin-top: 6rem;
  width: 72px;
}

/* Customise our pop up without having to add a class */
.mapboxgl-popup-content {
  background-color: rgba(42, 42, 42, 1) !important;
  color:  #dfe2e5;
  font-weight: 500;
  border-radius: 5px;
  white-space: nowrap;
  min-width: 100%;
  padding: 6px !important;
  margin: 0 !important;
  text-align: center;
}

.mapboxgl-popup-content p {
  font-size: 12px;
  margin: auto;
  padding: auto;
}

/* This removes the tail at the bottom of our tooltip */
.mapboxgl-popup-tip  {
  display: none;
}

.floating-summary-box{
  position: absolute;
  z-index: 100;
  width: 480px;
  min-height: fit-content;
  top: 100px;
  left: 72px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(18, 19, 22, 0.3);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  color: white;
  padding: 24px 18px;
  display: flex;
  flex-direction: column;
  cursor: grab;
}

.floating-summary-box:active {
  cursor: grabbing;
}

.chart-holder{
  cursor: pointer;
  height: 100%;
  min-height: 400px;
  width: 100%;
}

.mapboxgl-control-container{
  display: none;
}

.summarybox-tertiary-button {
  margin-bottom: 12px;
  width: auto;
  color: white;
  text-align: left;
  padding-left: 12px;
  padding-right: 12px;
  font-weight: 800;
  background-color: rgba(18, 19, 22, 0);
  height: 28px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.summarybox-tertiary-button:hover{
  background-color: rgba(255, 255, 255, 0.1); /* Slight white background on hover */
}

.summarybox-tertiary-button:active{
  outline: none;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3); /* White outline on focus */
}

.sidebar{
  height: 100%;
  max-width: 240px;
  z-index: 999;
  right: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  color: #dfe2e5;
  padding: 0 24px;
  align-items: center;
  background-color: #2a2a2a  ;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: #232020;
  justify-content: space-between;  /* this will push child elements apart */
}

.sidebar-container-div{
  margin-top: 48px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.social-links {
  margin-bottom: 36px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.icon-holder {
  width: 60px;
  height: 28px;
  text-align: center;
  padding: 4px 8px;
  display: flex;
  align-items: center; 
  justify-content: center; 
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.02);
}

.icon-holder:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.icon-holder:active {
  outline: none;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3);
}

@media screen and (max-width: 900px) {
  .sidebar {
      display: none;
  }
  .map-container {
      width: 100vw;
  }
}